h1{
	font-family: sans-serif;
	font-style: bold;
	font-size: 50pt;
	color: blue;
}

#title{
	display:inline;
	color:blue;
}

.logo{
	float: left;
	object-fit: cover;
    width: 55px;
    padding: 10px;
}

.float_form{
	
	height: 100%;
    align-content: center;
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	
}


.center_form{
	float: center;
}
body{
	/*background: url(C:/xampp/htdocs/shutterstock_1.jpg);*/
	/*background-repeat: no-repeat;*/
	/*background-size: 80px 60px;*/
	/*background: red;*/
	/*color: #fdbe34;*/
	font-family: sans-serif;
	margin: 0px;	
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #154360;
	
}
li{
	display: inline;
	float: left;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
}

li a:hover {
    background-color: #E7E7F6;
    color: #154360;
}

a {
	color: #154360;
	text-decoration: none;
	padding-left: 20px;
}
a:hover{
	background-color: white;
	color: #154360;
}
h2{
	padding-left: 10px;
	font-size: 25pt;
	font-style: italic;
	color:#000000;
}
.heading{
	font-size:30pt;
	text-align: center;
}
.fix_table{
	width: 300px;
}
.fix_table_short{
	width: 225px;
}
.welcome_text{
	font-family: sans-serif;
	font-size: 30pt;
	color: black;
	position: absolute;
}
.admin_func:hover{
	color: #154360;
	font-style: italic;
	text-decoration: underline
}
.center_submit{
	text-align: center;
}
h3{
	padding-left: 30px;
	font-size: 15pt;
}
.login_form{
	float: left;
}






 .col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }


.hero-wrap {
  width: 100%;
  height: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative; }
  @media (max-width: 1199.98px) {
    .hero-wrap {
      background-position: center center !important; } }
  .hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .4;
    background: #000000; }
  .hero-wrap.hero-wrap-2 {
    height: 400px; }
    .hero-wrap.hero-wrap-2 .overlay {
      opacity: .5; }
    .hero-wrap.hero-wrap-2 .slider-text {
      height: 400px; }
  .hero-wrap .slider-text h1 {
    font-size: 70px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
    font-family: "Poppins", Arial, sans-serif;
    text-transform: uppercase; }
    @media (max-width: 991.98px) {
      .hero-wrap .slider-text h1 {
        font-size: 40px; } }
    .hero-wrap .slider-text h1 span {
      color: #fdbe34; }
  .hero-wrap .slider-text .subheading {
    font-size: 15px;
    color: #fdbe34;
    text-transform: uppercase;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 2px; }
  .hero-wrap .slider-text p {
    font-size: 18px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7); }
    .hero-wrap .slider-text p strong {
      font-weight: 700; }
      .hero-wrap .slider-text p strong a {
        color: #000000; }
  .hero-wrap .slider-text .btn-custom {
    font-size: 16px;
    font-weight: 500;
    color: #fff; }
  .hero-wrap .slider-text .breadcrumbs {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    z-index: 99; }
    .hero-wrap .slider-text .breadcrumbs span {
      color: rgba(255, 255, 255, 0.5); }
      .hero-wrap .slider-text .breadcrumbs span i {
        color: rgba(255, 255, 255, 0.3); }
      .hero-wrap .slider-text .breadcrumbs span a {
        color: rgba(255, 255, 255, 0.7); }
        .hero-wrap .slider-text .breadcrumbs span a:hover, .hero-wrap .slider-text .breadcrumbs span a:focus {
          color: #fdbe34; }
          .hero-wrap .slider-text .breadcrumbs span a:hover i, .hero-wrap .slider-text .breadcrumbs span a:focus i {
            color: #fdbe34; }
  .hero-wrap .slider-text .bread {
    font-weight: 700 !important; }

.owl-carousel {
  position: relative; }
  .owl-carousel .owl-item {
    opacity: 1; }
    .owl-carousel .owl-item.active {
      opacity: 1; }
  .owl-carousel .owl-dots {
    text-align: center; }
    .owl-carousel .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: #e6e6e6;
      position: relative; }
      .owl-carousel .owl-dots .owl-dot:after {
        position: absolute;
        top: -2px;
        left: -2px;
        right: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        content: '';
        border: 1px solid #4d4d4d;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      .owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
        outline: none !important; }
      .owl-carousel .owl-dots .owl-dot.active {
        background: #b3b3b3; }
        .owl-carousel .owl-dots .owl-dot.active:after {
          border-color: #fff; }
  .owl-carousel.home-slider {
    position: relative;
    height: 700px;
    z-index: 0; }
    .owl-carousel.home-slider .slider-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 700px;
      position: relative;
      z-index: 0;
      overflow: hidden; }
      .owl-carousel.home-slider .slider-item .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background: #000000;
        opacity: .3;
        width: 100%;
        padding: 0;
        z-index: 0; }
      @media (max-width: 1199.98px) {
        .owl-carousel.home-slider .slider-item {
          background-position: center center !important; } }
      .owl-carousel.home-slider .slider-item .slider-text {
        height: 700px;
        position: relative; }
        .owl-carousel.home-slider .slider-item .slider-text .text {
          z-index: 0;
          color: rgba(255, 255, 255, 0.9); }
        .owl-carousel.home-slider .slider-item .slider-text h1 {
          font-size: 80px;
          font-weight: 800;
          letter-spacing: 7px;
          text-transform: uppercase;
          color: #fff;
          line-height: 1;
          text-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1); }
          @media (max-width: 991.98px) {
            .owl-carousel.home-slider .slider-item .slider-text h1 {
              font-size: 40px;
              letter-spacing: 3px; } }
        .owl-carousel.home-slider .slider-item .slider-text h2 {
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-family: "Poppins", Arial, sans-serif;
          font-weight: 700;
          color: #fdbe34;
          display: inline-block;
          position: relative;
          letter-spacing: 4px; }
    .owl-carousel.home-slider .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%; }
      .owl-carousel.home-slider .owl-nav .owl-prev,
      .owl-carousel.home-slider .owl-nav .owl-next {
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        outline: none !important;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 0; }
        .owl-carousel.home-slider .owl-nav .owl-prev span:before,
        .owl-carousel.home-slider .owl-nav .owl-next span:before {
          font-size: 30px;
          color: rgba(255, 255, 255, 0.5);
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        .owl-carousel.home-slider .owl-nav .owl-prev:hover span:before, .owl-carousel.home-slider .owl-nav .owl-prev:focus span:before,
        .owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
        .owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
          color: #fff; }
      .owl-carousel.home-slider .owl-nav .owl-prev {
        left: 0;
        margin-left: 0; }
      .owl-carousel.home-slider .owl-nav .owl-next {
        right: 0;
        margin-right: 0; }
    .owl-carousel.home-slider:hover .owl-nav .owl-prev,
    .owl-carousel.home-slider:hover .owl-nav .owl-next {
      opacity: 1; }
    .owl-carousel.home-slider:hover .owl-nav .owl-prev {
      margin-left: 50px; }
    .owl-carousel.home-slider:hover .owl-nav .owl-next {
      margin-right: 50px; }
    .owl-carousel.home-slider .owl-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      width: 100%;
      text-align: center; }
      @media (max-width: 767.98px) {
        .owl-carousel.home-slider .owl-dots {
          bottom: 5px; } }
      .owl-carousel.home-slider .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4); }
        .owl-carousel.home-slider .owl-dots .owl-dot.active {
          background: #fff; }
.ftco-animate {
  opacity: 0;
  visibility: hidden; }
  
  



